<%= form_for(lease) do |f| %>
  <% if lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% lease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :Asesor %>
    <%= f.select :adviser_id, Adviser.all.collect { |p| [ p.name, p.id ] }, {include_blank: "Seleccionar asesor..."}, { :class => 'form-control' } %>
  </div>

  <div class="field form-group">
    <%= f.label :Nombre_arrendamiento %>
    <%= f.text_field :name %>
  </div>

  <div class="field form-group">
    <%= f.label :Precio_arrendamiento %>
    <%= f.text_field :cant %>
  </div>

  <div class="actions">
    <%= f.submit "enviar", class: 'btn btn-primary' %>
  </div>
<% end %>
