<p id="notice"><%= notice %></p>

<h1>Ventas</h1>

<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Asesor</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Mes</th>
        <th>Creado por</th>
        <th colspan="3">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%= sale.adviser.name %></td>
          <td><%= sale.name %></td>
          <td><%= sale.cant %></td>
          <td><%= sale.display_current_month %></td>
          <td><%= sale.user.email if sale.user %></td>
          <td><%= link_to 'Ver', sale, class: 'btn btn-info btn-xs' %></td>
          <% if sale.user == current_user %>
            <td><%= link_to 'Editar', edit_sale_path(sale), class: 'btn btn-warning btn-xs' %></td>
            <td><%= link_to 'Eliminar', sale, class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Estas seguro?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div><%= bar_chart Sale.group(:adviser_id).sum(:cant) %></div>


<br>
<% if user_signed_in? %>
  <%= link_to 'Nueva venta', new_sale_path, class: 'btn btn-primary' %>
<% end %>
